<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>班级列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('Classes/add')}">新 增</a>
            <button class="btn ajax-post" url="{:U('Classes/changeStatus',array('method'=>'resumeClasses'))}" target-form="ids">启 用</button>
            <button class="btn ajax-post" url="{:U('Classes/changeStatus',array('method'=>'forbidClasses'))}" target-form="ids">禁 用</button>
            <button class="btn ajax-post confirm" url="{:U('Classes/changeStatus',array('method'=>'deleteClasses'))}" target-form="ids">删 除</button>
        </div>

        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="_key" class="search-input" value="{:I('_key')}" placeholder="请输入班级名称/大区名称">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			</div>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table">
	<table class="">
    <thead>
        <tr>
			<th class="row-selected"><input class="check-all" type="checkbox"/></th>
			<th class="">ID</th>
			<th class="">会议名称</th>
			<th class="">会议开始时间</th>
			<th class="">会议结束时间</th>
			<th class="">班级名称</th>
			<th class="">状态</th>
			<th class="">创建时间</th>
			<th class="">班级座位图</th>
			<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<td>{$vo.id}</td>
			<td>{$vo.meet_name}</td>
			<td>{$vo.begin_time}</td>
			<td>{$vo.end_time}</td>
			<td>{$vo.classes_name}</td>
			<td>{$vo.status_text}</td>
			<td>{$vo.create_time}</td>
			<td><div class="upload-img-box">
						<div class="upload-pre-item">
							<img src="__ROOT__{$vo.seat_img|get_cover='path'}">
						</div>
				</div>
			</td>
			<td>
				<a href="{:U('Classes/edit?id='.$vo['id'])}">编辑</a>
				<if condition="$vo.status eq 1">
				<a href="{:U('Classes/changeStatus?method=forbidClasses&id='.$vo['id'])}" class="ajax-get">禁用</a>
				<else/>
				<a href="{:U('Classes/changeStatus?method=resumeClasses&id='.$vo['id'])}" class="ajax-get">启用</a>
				</if>
				<a href="{:U('Classes/changeStatus?method=deleteClasses&id='.$vo['id'])}" class="confirm ajax-get">删除</a>
                </td>
		</tr>
		</volist>
		<else/>
		<td colspan="7" class="text-center"> Oh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('Classes/index')}');
	</script>
</block>
