<extend name="Public/base" />

<block name="body">
	<div class="main-title cf">
		<h2>{:isset($info['id'])?'编辑':'新增'}参会人员</h2>
	</div>
<form action="{:U()}" method="post" class="form-horizontal">
		<div class="form-item cf">
			<label class="item-label">选择品牌<span class="check-tips">（启用状态下的品牌）</span></label>
			<div class="controls">
				<select name="brand_id" id="brand_id">
					    		<option value="0">请选择品牌</option>
					    		<volist name=":get_brand_list()" id="vo">
								<option value="{$vo.id}">{$vo.brand_name}</option>
							</volist>
				</select>
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label"> 选择大区<span class="check-tips">（启用状态下的大区）</span></label>
			<div class="controls">
				<select name="region_id" id="region_id">
					  <option value="0">请选择大区</option>
					  <!-- 编辑时 选中当前大区 -->
					 <if condition="isset($info['id']) eq true">
						<volist name=":get_region_list($info['brand_id'])" id="vo">
							<option value="{$vo.id}">{$vo.region_name}</option>
						</volist>
					</if>
				</select>
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label"> 选择城市<span class="check-tips">（启用状态下的城市）</span></label>
			<div class="controls">
				<select name="city_id" id="city_id">
					    		<option value="0">请选择城市</option>
					    		<!-- 编辑时 选中当前城市 -->
					 <if condition="isset($info['id']) eq true">
						<volist name=":get_city_list('region_id',$info['region_id'])" id="vo">
							<option value="{$vo.id}">{$vo.city_name}</option>
						</volist>
					</if>
				</select>
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label">选择经销门店<span class="check-tips">（启用状态下的门店）</span></label>
			<div class="controls">
				<select name="store_id">
					<option value="0">请选择经销门店</option>
					<!-- 编辑时 选中当前门店 -->
					 <if condition="isset($info['id']) eq true">
						<volist name=":get_store_list('city_id',$info['city_id'])" id="vo">
							<option value="{$vo.id}">{$vo.store_name}</option>
						</volist>
					</if>
				</select>
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label"><span style="color:red;">*</span> 选择会议<span class="check-tips">（启用状态下的会议）</span></label>
			<div class="controls">
				<select name="meet_id">
					<option value="0">请择会议</option>
					<volist name=":get_meet_list()" id="vo">
						<option value="{$vo.id}" >{$vo.meet_name}</option>
					</volist>
				</select>
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label"><span style="color:red;">*</span> 分配班级<span class="check-tips">（启用状态下的班级）</span></label>
			<div class="controls">
				<select name="classes_id">
					<option value="0">请选择所属班级</option>
					<!-- 编辑时 选中当前班级 -->
					<if condition="isset($info['id']) eq true">
						<volist name=":get_classes_list('meet_id',$info['meet_id'])" id="vo">
							<option value="{$vo.id}">{$vo.classes_name}</option>
						</volist>
					</if>
				</select>
			</div>
		</div>
        <div class="form-item">
            <label class="item-label"><span style="color:red;">*</span> 人员姓名<span class="check-tips">（必填）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="realname" value="{$info.realname|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"><span style="color:red;">*</span> 性别<span class="check-tips"></span></label>
            <div class="controls">
                <label class="radio"><input type="radio" name="sex" value="1" checked>男</label>
                <label class="radio"><input type="radio" name="sex" value="2">女</label>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"><span style="color:red;">*</span> 人员手机号<span class="check-tips">（必填）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="phone" value="{$info.phone|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"> 人员证件号<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="idcard" value="{$info.idcard|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"> 头像照片<span class="check-tips"></span></label>
            <div class="controls">
               <div class="controls">
					<input type="file" id="upload_picture_headimg">
					<input type="hidden" name="headimg" id="cover_id_headimg" value="{$info.headimg}"/>
					<div class="upload-img-box">
						<notempty name="info.headimg">
							<div class="upload-pre-item"><img src="__ROOT__{$info.headimg|get_cover='path'}"/></div>
						</notempty>
					</div>
			   </div>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"><span style="color:red;">*</span> 职务<span class="check-tips">（必填）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="position" value="{$info.position|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"> 考试成绩<span class="check-tips">（默认-1表示未参加考试）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="score" value="{$info.score|default='-1'}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"> 住宿类型<span class="check-tips"></span></label>
            <div class="controls">
                <label class="radio"><input type="radio" name="hotel_type" value="0" checked>不住宿</label>
                <label class="radio"><input type="radio" name="hotel_type" value="1">合住</label>
                <label class="radio"><input type="radio" name="hotel_type" value="2">单住</label>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"> 房型<span class="check-tips"></span></label>
            <div class="controls">
                <label class="radio"><input type="radio" name="house_type" value="0" checked>无</label>
                <label class="radio"><input type="radio" name="house_type" value="1">双床</label>
                <label class="radio"><input type="radio" name="house_type" value="2">大床</label>
            </div>
        </div>
        <div class="form-item">
					            <label class="item-label">入住时间<span class="check-tips"></span></label>
					            <div class="controls">
					                <input type="text" class="text input-large time" name="checkin_date" value="{$info.checkin_date|default=''}">
					            </div>
					        </div>
					        <div class="form-item">
					            <label class="item-label">离店时间<span class="check-tips"></span></label>
					            <div class="controls">
					                <input type="text" class="text input-large time" name="leave_date" value="{$info.leave_date|default=''}">
					            </div>
					        </div>
        <div class="form-item cf">
			<label class="item-label"> 餐饮要求<span class="check-tips">（输入餐饮要求）</span></label>
			<div class="controls">
				<label class="textarea input-large"><textarea name="food_req">{$info.food_req}</textarea></label>
			</div>
		</div>
		<div class="form-item">
            <label class="item-label"><span style="color:red;">*</span> 审核状态<span class="check-tips"></span></label>
            <div class="controls">
                <label class="radio"><input type="radio" name="is_audit" value="1">通过</label>
                <label class="radio"><input type="radio" name="is_audit" value="0">未通过</label>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"><span style="color:red;">*</span> 状态<span class="check-tips"></span></label>
            <div class="controls">
                <label class="radio"><input type="radio" name="status" value="1">启用</label>
                <label class="radio"><input type="radio" name="status" value="0">禁用</label>
            </div>
        </div>
        <div class="form-item">
        		<input type="hidden" name="id" value="{$info.id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>
<block name="script">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript" charset="utf-8">
$(function(){
	
	//选择会议
	$("select[name='meet_id']").change(function(){
		var meet_id=$("select[name='meet_id']").val();
		if(meet_id!=''){
			$.post("{:U('/Admin/Common/get_meet_json')}",{'meet_id':meet_id},
					function(result){
						//班级
						var classes_data=result.data.classes_data;
						var c_html="<option value=\"0\">请选择班级</option>";
						if(classes_data!=null){
							 for(var i=0;i<classes_data.length;i++){
								 c_html+="<option value=\""+classes_data[i].id+"\">"+classes_data[i].classes_name+"</option>";
							} 
						}
						$("select[name='classes_id']").html(c_html);
						
						
	  		},'json');
		}
	});
	//选择品牌
	$("select[name='brand_id']").change(function(){
		var brand_id=$("select[name='brand_id']").val();
		if(brand_id!=''){
			$.post("{:U('/Admin/Common/get_brand_json')}",{'brand_id':brand_id},
					function(result){
						//大区
						var region_data=result.data.region_data;
						var r_html="<option value=\"0\">请选择大区</option>";
						if(region_data!=null){
							 for(var i=0;i<region_data.length;i++){
								 r_html+="<option value=\""+region_data[i].id+"\">"+region_data[i].region_name+"</option>";
							} 
						}else{
							$("select[name='region_id']").val("");
						}
						$("select[name='region_id']").html(r_html);
	  		},'json');
		}
	});
	//选择大区
	$("select[name='region_id']").change(function(){
		var region_id=$("select[name='region_id']").val();
		if(region_id!=''){
			$.post("{:U('/Admin/Common/get_region_json')}",{'region_id':region_id},
					function(result){
						//城市
						var city_data=result.data.city_data;
						var c_html="<option value=\"0\">请选择城市</option>";
						if(city_data!=null){
							 for(var i=0;i<city_data.length;i++){
								 c_html+="<option value=\""+city_data[i].id+"\">"+city_data[i].city_name+"</option>";
							} 
						}else{
							$("select[name='city_id']").val("");
						}
						$("select[name='city_id']").html(c_html);
	  		},'json');
		}
	});
	//选择城市
	$("select[name='city_id']").change(function(){
		var city_id=$("select[name='city_id']").val();
		if(city_id!=''){
			$.post("{:U('/Admin/Common/get_city_json')}",{'city_id':city_id},
					function(result){
						//门店
						var store_data=result.data.store_data;
						var s_html="<option value=\"0\">请选择经销门店</option>";
						if(store_data!=null){
							 for(var i=0;i<store_data.length;i++){
								 s_html+="<option value=\""+store_data[i].id+"\">"+store_data[i].store_name+",代码："+store_data[i].store_code+"</option>";
							} 
						}else{
							$("select[name='store_id']").val("");
						}
						$("select[name='store_id']").html(s_html);
						
						
	  		},'json');
		}
	});
	
});
	
	//上传图片
	/* 初始化上传插件 */
	$("#upload_picture_headimg").uploadify({
	    "height"          : 30,
	    "swf"             : "__STATIC__/uploadify/uploadify.swf",
	    "fileObjName"     : "download",
	    "buttonText"      : "上传图片",
	    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
	    "width"           : 120,
	    'removeTimeout'	  : 1,
	    'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
	    "onUploadSuccess" : uploadPictureHeadimg,
	    'onFallback' : function() {
	        alert('未检测到兼容版本的Flash.');
	    }
	});
	function uploadPictureHeadimg(file, data){
		var data = $.parseJSON(data);
		var src = '';
	    if(data.status){
	    	$("#cover_id_headimg").val(data.id);
	    	src = data.url || '__ROOT__' + data.path
	    	$("#cover_id_headimg").parent().find('.upload-img-box').html(
	    		'<div class="upload-pre-item"><img src="' + src + '"/></div>'
	    	);
	    } else {
	    	updateAlert(data.info);
	    	setTimeout(function(){
	            $('#top-alert').find('button').click();
	            $(that).removeClass('disabled').prop('disabled',false);
	        },1500);
	    }
	}
	Think.setValue("status", {$info.status|default = 1});
	Think.setValue('brand_id',{$info.brand_id|default=0});
	Think.setValue('region_id',{$info.region_id|default=0});
	Think.setValue('city_id',{$info.city_id|default=0});
	Think.setValue('store_id',{$info.store_id|default=0});
	Think.setValue('meet_id',{$info.meet_id|default=0});
	Think.setValue('classes_id',{$info.classes_id|default=0});
	Think.setValue('sex',{$info.sex|default=0});
	Think.setValue('is_share',{$info.is_share|default=0});
	Think.setValue('hotel_type',{$info.hotel_type|default=0});
	Think.setValue('house_type',{$info.house_type|default=0});
	Think.setValue('is_audit',{$info.is_audit|default=1});
	$('.time').datetimepicker({
	    format: 'yyyy-mm-dd',
	    language:"zh-CN",
	    startDate:'2017-01-01 00:00:00',
	    minView:2,
	    autoclose:true
	});
	//导航高亮
	highlight_subnav('{:U('index')}');
</script>
</block>

