<extend name="Public/base" />

<block name="body">
	<div class="main-title cf">
		<h2>{:isset($info['id'])?'编辑':'新增'}参会人员</h2>
	</div>
<form action="{:U()}" method="post" class="form-horizontal">
		<div class="form-item cf">
			<label class="item-label"><span style="color:red;">*</span> 绑定门店<span class="check-tips">（启用状态下的门店）</span></label>
			<div class="controls">
				<select name="store_id">
					<option value="0">请选择所属门店</option>
					<volist name=":get_store_list()" id="vo">
						<option value="{$vo.id}">{$vo.store_name}</option>
					</volist>
				</select>
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label"><span style="color:red;">*</span> 分配班级<span class="check-tips">（启用状态下的班级）</span></label>
			<div class="controls">
				<select name="classes_id">
					<option value="0">请选择所属班级</option>
					<volist name=":get_classes_list()" id="vo">
						<option value="{$vo.id}">{$vo.classes_name}</option>
					</volist>
				</select>
			</div>
		</div>
        <div class="form-item">
            <label class="item-label"><span style="color:red;">*</span> 人员姓名<span class="check-tips">（必填）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="realname" value="{$info.realname|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"><span style="color:red;">*</span> 性别<span class="check-tips"></span></label>
            <div class="controls">
                <label class="radio"><input type="radio" name="sex" value="1" checked>男</label>
                <label class="radio"><input type="radio" name="sex" value="2">女</label>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"><span style="color:red;">*</span> 人员手机号<span class="check-tips">（必填）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="phone" value="{$info.phone|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"> 人员证件号<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="idcard" value="{$info.idcard|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"> 头像照片<span class="check-tips"></span></label>
            <div class="controls">
               <div class="controls">
					<input type="file" id="upload_picture_headimg">
					<input type="hidden" name="headimg" id="cover_id_headimg" value="{$info.headimg}"/>
					<div class="upload-img-box">
						<notempty name="info.headimg">
							<div class="upload-pre-item"><img src="__ROOT__{$info.headimg|get_cover='path'}"/></div>
						</notempty>
					</div>
			   </div>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"><span style="color:red;">*</span> 职务<span class="check-tips">（必填）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="position" value="{$info.position|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"> 考试成绩<span class="check-tips">（默认-1表示未参加考试）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="score" value="{$info.score|default='-1'}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"> 住宿类型<span class="check-tips"></span></label>
            <div class="controls">
                <label class="radio"><input type="radio" name="hotel_type" value="0" checked>不住宿</label>
                <label class="radio"><input type="radio" name="hotel_type" value="1">合住</label>
                <label class="radio"><input type="radio" name="hotel_type" value="2">单住</label>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"> 房型<span class="check-tips"></span></label>
            <div class="controls">
                <label class="radio"><input type="radio" name="house_type" value="0" checked>无</label>
                <label class="radio"><input type="radio" name="house_type" value="1">双床</label>
                <label class="radio"><input type="radio" name="house_type" value="2">大床</label>
            </div>
        </div>
        <div class="form-item">
					            <label class="item-label">入住时间<span class="check-tips"></span></label>
					            <div class="controls">
					                <input type="text" class="text input-large time" name="checkin_date" value="{$info.checkin_date|default=''}">
					            </div>
					        </div>
					        <div class="form-item">
					            <label class="item-label">离店时间<span class="check-tips"></span></label>
					            <div class="controls">
					                <input type="text" class="text input-large time" name="leave_date" value="{$info.leave_date|default=''}">
					            </div>
					        </div>
        <div class="form-item cf">
			<label class="item-label"> 餐饮要求<span class="check-tips">（输入餐饮要求）</span></label>
			<div class="controls">
				<label class="textarea input-large"><textarea name="food_req">{$info.food_req}</textarea></label>
			</div>
		</div>
		<div class="form-item">
            <label class="item-label"><span style="color:red;">*</span> 审核状态<span class="check-tips"></span></label>
            <div class="controls">
                <label class="radio"><input type="radio" name="is_audit" value="1">通过</label>
                <label class="radio"><input type="radio" name="is_audit" value="0">未通过</label>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"><span style="color:red;">*</span> 状态<span class="check-tips"></span></label>
            <div class="controls">
                <label class="radio"><input type="radio" name="status" value="1">启用</label>
                <label class="radio"><input type="radio" name="status" value="0">禁用</label>
            </div>
        </div>
        <div class="form-item">
        		<input type="hidden" name="id" value="{$info.id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>
<block name="script">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript" charset="utf-8">
	//上传图片
	/* 初始化上传插件 */
	$("#upload_picture_headimg").uploadify({
	    "height"          : 30,
	    "swf"             : "__STATIC__/uploadify/uploadify.swf",
	    "fileObjName"     : "download",
	    "buttonText"      : "上传图片",
	    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
	    "width"           : 120,
	    'removeTimeout'	  : 1,
	    'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
	    "onUploadSuccess" : uploadPictureHeadimg,
	    'onFallback' : function() {
	        alert('未检测到兼容版本的Flash.');
	    }
	});
	function uploadPictureHeadimg(file, data){
		var data = $.parseJSON(data);
		var src = '';
	    if(data.status){
	    	$("#cover_id_headimg").val(data.id);
	    	src = data.url || '__ROOT__' + data.path
	    	$("#cover_id_headimg").parent().find('.upload-img-box').html(
	    		'<div class="upload-pre-item"><img src="' + src + '"/></div>'
	    	);
	    } else {
	    	updateAlert(data.info);
	    	setTimeout(function(){
	            $('#top-alert').find('button').click();
	            $(that).removeClass('disabled').prop('disabled',false);
	        },1500);
	    }
	}
	Think.setValue("status", {$info.status|default = 1});
	Think.setValue('store_id',{$info.store_id|default=0});
	Think.setValue('classes_id',{$info.classes_id|default=0});
	Think.setValue('sex',{$info.sex|default=0});
	Think.setValue('is_share',{$info.is_share|default=0});
	Think.setValue('hotel_type',{$info.hotel_type|default=0});
	Think.setValue('house_type',{$info.house_type|default=0});
	Think.setValue('is_audit',{$info.is_audit|default=1});
	$('.time').datetimepicker({
	    format: 'yyyy-mm-dd',
	    language:"zh-CN",
	    startDate:'2017-01-01 00:00:00',
	    minView:2,
	    autoclose:true
	});
	//导航高亮
	highlight_subnav('{:U('index')}');
</script>
</block>

