<extend name="Public/base" />

<block name="style">
<style type="text/css">
body{
	width:1400px;
}
.data-table thead th, .data-table tbody td{
	padding:3px;
}
</style>
</block>
<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>会议人员列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
			<if condition="session('user_auth.group_type') eq 1">
            <a class="btn" href="{:U('MeetMember/add')}">新增</a>
            <a class="btn" href="{:U('MeetMember/import')}">导入</a>
           <!--  <button class="btn ajax-post" url="{:U('MeetMember/changeStatus',array('method'=>'resumeMeetMember'))}" target-form="ids">启用</button>  -->
            <button class="btn ajax-post" url="{:U('MeetMember/changeStatus',array('method'=>'forbidMeetMember'))}" target-form="ids">禁用</button>
            <button class="btn ajax-post confirm" url="{:U('MeetMember/changeStatus',array('method'=>'deleteMeetMember'))}" target-form="ids">删 除</button>
        	</if>
        </div>
        <!-- 高级搜索1 四级联动 -->
		<div class="search-form" style="margin-top:50px">
			<div class="sleft">
				<label style="float:left;margin-right:10px;text-align: -webkit-center;line-height: 30px;width: 50px;">搜索：</label>
				<select name="brand_id" id="brand_id" style="float:left;margin-right:10px;margin-top:2px;" class="search_field search-automation" >
					    		<option value="0">请选择品牌</option>
					    		<volist name=":get_brand_list()" id="vo">
								<option value="{$vo.id}">{$vo.brand_name}</option>
							</volist>
				</select>
				<select name="region_id" id="region_id" style="float:left;margin-right:10px;margin-top:2px;" class="search_field search-automation">
					  <option value="0">请选择大区</option>
					  <!-- 编辑时 选中当前大区 -->
					 <if condition="$region_id neq null">
						<volist name=":get_region_list($brand_id)" id="vo">
							<option value="{$vo.id}">{$vo.region_name}</option>
						</volist>
					</if>
				</select>
				<select name="city_id" id="city_id" style="float:left;margin-right:10px;margin-top:2px;" class="search_field search-automation">
					    		<option value="0">请选择城市</option>
					    		<!-- 编辑时 选中当前城市 -->
					 <if condition="$city_id neq null">
						<volist name=":get_city_list('region_id',$region_id)" id="vo">
							<option value="{$vo.id}">{$vo.city_name}</option>
						</volist>
					</if>
				</select>
				<select name="store_id" style="float:left;margin-right:10px;margin-top:2px;" class="search_field search-automation">
					<option value="0">请选择经销门店</option>
					<!-- 编辑时 选中当前门店 -->
					 <if condition="$store_id neq null">
						<volist name=":get_store_list('city_id',$city_id)" id="vo">
							<option value="{$vo.id}">{$vo.store_name}</option>
						</volist>
					</if>
				</select>
			</div>
		</div>
		<br/>
        <!-- 高级搜索2 -->
		<div class="search-form" style="margin-top:15px">
			<div class="sleft">
				<label style="float:left;margin-right:10px;text-align: -webkit-center;line-height: 30px;width: 50px;">搜索：</label>
				<select name="_meet_id" style="float:left;margin-right:10px;margin-top:2px;" class="search_field search-automation" >
					<option value="0">请选择会议名称</option>
					<volist name=":get_meet_list()" id="vo">
						<option value="{$vo.id}" >{$vo.meet_name}</option>
					</volist>
				</select>
				<select name="hotel_type" style="float:left;margin-right:10px;margin-top:2px;" class="search_field search-automation" >
					<option value="0">请选择住宿类型</option>
					<option value="-1">不住宿</option>
					<option value="1">合住</option>
					<option value="2">单住</option>
				</select>
				<select name="is_room_user" style="float:left;margin-right:10px;margin-top:2px;" class="search_field search-automation" >
					<option value="0">是否有室友</option>
					<option value="1">是</option>
					<option value="2">否</option>
				</select>
				<!--  <select name="_sign" style="float:left;margin-right:10px;" class="search_field" >
					<option value="0">签到状态</option>
					<option value="1" >已签到</option>
					<option value="2" >未签到</option>
				</select>-->
				<input type="text" name="_key" class="search-input search_field" value="{:I('_key')}" placeholder="支持会议名称/人员名称／手机号">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			</div>
		</div>
		<!-- 操作 -->
		<br/>
		<if condition="session('user_auth.group_type') eq 1">
		<div class="search-form" style="margin-top:15px">
			<div class="sleft">
				<label style="float:left;margin-right:10px;text-align: -webkit-center;line-height: 30px;width: 50px;">操作：</label>
				<select name="classes_id" class='allotClasses'>
					<option value="0">请选择分配的班级</option>
					<volist name=":get_classes_meet_list()" id="vo">
						<option value="{$vo.id}">{$vo.meet_name}-{$vo.classes_name}</option>
					</volist>
				</select>
        			<button class="btn ajax-post" url="{:U('MeetMember/allotClasses')}" target-form="allotClasses">分班</button>
        			<button class="btn ajax-post" url="{:U('MeetMember/setRoommate')}" target-form="ids">设置室友</button>
       		</div>
		</div>
		</if>
    </div>
    <!-- 数据列表 -->
    <div class="data-table">
	<table class="" >
    <thead>
        <tr>
			<th class="row-selected"><input class="check-all" type="checkbox"/></th>
			<!-- <th class="">ID</th> -->
			<th class="" style="width:80px">品牌</th>
			<th class="" style="width:40px">大区</th>
			<th class="" style="width:40px">城市</th>
			<th class="" style="width:150px">经销店</th>
			<th class="" style="width:40px">代码</th>
			<th class="" style="width:150px">会议名称</th>
			<!--<th class="">会议报名开始时间</th>
			<th class="">会议报名结束时间</th>-->
			<th class="" style="width:40px">班级</th>
			<th class="" style="width:80px">参会编号</th>
			<th class="" style="width:40px">职务</th>
			<th class="" style="width:50px">姓名</th>
			<th class="" style="width:50px">手机号</th>
			<th class="" style="width:120px">证件号</th>
			<th class="" style="width:40px">性别</th>
			<!--<th class="" style="width:60px">头像</th>-->
			<th class="" style="width:60px">二维码</th>
			<th class="" style="width:90px">住宿类型</th>
			<th class="" style="width:110px">合住人姓名</th>
			<th class="" style="width:90px">室友名称</th>
			<th class="" style="width:90px">审核状态</th>
			<th class="" style="width:40px">状态</th>
			<th class="" style="width:200px">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids allotClasses" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<!-- <td>{$vo.id}</td> -->
			<td>{$vo.brand_name}</td>
			<td>{$vo.region_name}</td>
			<td>{$vo.city_name}</td>
			<td>{$vo.store_name}</td>
			<td>{$vo.store_code}</td>
			<td>{$vo.meet_name}</td>
			<!--  <td>{$vo.begin_time}</td>
			<td>{$vo.end_time}</td>-->
			<td>{$vo.classes_name}</td>
			<td>{$vo.user_no}</td>
			<td>{$vo.position}</td>
			<td>{$vo.realname}</td>
			<td>{$vo.phone}</td>
			<td>{$vo.idcard}</td>
			<td><if condition="$vo.sex eq 1">男<else/>女</if></td>
			<!--<td>
				<if condition="$vo.headimg eq null">
					未上传
				<else/>
					<div class="upload-img-box">
						<a >查看</a>
						<div style="display:none;">
							<img src="__ROOT__{$vo.headimg|get_cover='path'}">
						</div>
					</div>
				</if>
			</td>-->
			<td><div class="upload-img-box">
						<a >查看</a>
						<div style="display:none;">
							<img src="__ROOT__{$vo.qrcode}">
						</div>
				</div>
			</td>
			<td><if condition="$vo.hotel_type eq 0">不住宿<elseif condition="$vo.hotel_type eq 1"/>合住 <else/>单住 </if></td>
			<td>{$vo.roommate_name}</td>
			<td>{$vo.roommate_name2}</td>
			<td><if condition="$vo.is_audit eq 0">不通过<else/>通过</if></td>
			<td>{$vo.status_text}</td>
			<td>
			<if condition="session('user_auth.group_type') eq 1">
				<a href="javascript:signIn({:$vo['id']})">签到</a>
				<a href="{:U('MeetMember/edit?id='.$vo['id'])}">编辑</a>
				<if condition="$vo.status eq 1">
				<a href="{:U('MeetMember/changeStatus?method=forbidMeetMember&id='.$vo['id'])}" class="ajax-get">禁用</a>
				<else/>
				<a href="{:U('MeetMember/changeStatus?method=resumeMeetMember&id='.$vo['id'])}" class="ajax-get">启用</a>
				</if>
				<a href="{:U('MeetMember/changeStatus?method=deleteMeetMember&id='.$vo['id'])}" class="confirm ajax-get">删除</a>
             </if>
             </td>
		</tr>
		</volist>
		<else/>
		<td colspan="21" class="text-center"> Oh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//选择品牌
	$("select[name='brand_id']").change(function(){
		var brand_id=$("select[name='brand_id']").val();
		if(brand_id!=''){
			$.post("{:U('/Admin/Common/get_brand_json')}",{'brand_id':brand_id},
					function(result){
						//大区
						var region_data=result.data.region_data;
						var r_html="<option value=\"0\">请选择大区</option>";
						if(region_data!=null){
							 for(var i=0;i<region_data.length;i++){
								 r_html+="<option value=\""+region_data[i].id+"\">"+region_data[i].region_name+"</option>";
							} 
						}else{
							$("select[name='region_id']").val("");
						}
						$("select[name='region_id']").html(r_html);
	  		},'json');
		}
	});
	//选择大区
	$("select[name='region_id']").change(function(){
		var region_id=$("select[name='region_id']").val();
		if(region_id!=''){
			$.post("{:U('/Admin/Common/get_region_json')}",{'region_id':region_id},
					function(result){
						//城市
						var city_data=result.data.city_data;
						var c_html="<option value=\"0\">请选择城市</option>";
						if(city_data!=null){
							 for(var i=0;i<city_data.length;i++){
								 c_html+="<option value=\""+city_data[i].id+"\">"+city_data[i].city_name+"</option>";
							} 
						}else{
							$("select[name='city_id']").val("");
						}
						$("select[name='city_id']").html(c_html);
	  		},'json');
		}
	});
	//选择城市
	$("select[name='city_id']").change(function(){
		var city_id=$("select[name='city_id']").val();
		if(city_id!=''){
			$.post("{:U('/Admin/Common/get_city_json')}",{'city_id':city_id},
					function(result){
						//门店
						var store_data=result.data.store_data;
						var s_html="<option value=\"0\">请选择经销门店</option>";
						if(store_data!=null){
							 for(var i=0;i<store_data.length;i++){
								 s_html+="<option value=\""+store_data[i].id+"\">"+store_data[i].store_name+",代码："+store_data[i].store_code+"</option>";
							} 
						}else{
							$("select[name='store_id']").val("");
						}
						$("select[name='store_id']").html(s_html);
						
						
	  		},'json');
		}
	});
	
	
		function signIn(id){
			if(!confirm("确定进行签到吗？")){
				return false;
			}
			$.post("{:U('Sign')}",{'meet_member_id':id},
					function(result){
				if(result.status){
					alert('签到成功');
				}else{
					alert(result.smg);
				}
	  		},'json');
		}
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('.search_field').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
	Think.setValue('brand_id',{$brand_id|default=0});
	Think.setValue('region_id',{$region_id|default=0});
	Think.setValue('city_id',{$city_id|default=0});
	Think.setValue('store_id',{$store_id|default=0});
	
	Think.setValue('_meet_id',{$_meet_id|default=0});
	Think.setValue('_sign',{$_sign|default=0});
	Think.setValue('hotel_type',{$hotel_type|default=0});
	Think.setValue('is_room_user',{$is_room_user|default=0});
    //导航高亮
    highlight_subnav('{:U('MeetMember/index')}');
	</script>
</block>
