<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title>注册|会议管理</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="__CSS__/style.css">
<link rel="stylesheet" type="text/css" href="__CSS__/theme.css">
<link rel="stylesheet" type="text/css" href="__CSS__/jquery.mobile-1.3.2.min.css">
<body>
<div data-role="page" >
	<div data-role="content">
        		<if condition="$grade eq 1">
		        	<label style="text-align:center;">{$msg}</label>
		        	<div class="chose">
               		 <a class="login" href="{$login_url}"   data-role="none" data-transition="slide">Go 登录</a>
            		</div>
            	<elseif condition="$grade eq 2"/>
            		<label style="text-align:center;">{$msg}</label>
            		<div class="chose">
               		 <a class="login" href="{$login_url}"   data-role="none" data-transition="slide">Go 登录</a>
            		</div>
            	<else/>
            			<div style="text-align:center;">
            				<label >已注册用户，可直接去登录</label>
		            		<a  href="{$login_url}">Go 登录</a>
            			</div>
            			<div class="logo">
		            		<p>会议注册</p>
		            </div>
		            
		            <label for="nicky">姓名</label>
		            <input type="text" name='realname'  placeholder="请输入姓名" >
		            
		            <fieldset data-role="controlgroup" data-type="horizontal">
						<legend>性 别:</legend>
						<input type="radio" name="sex" id="radio-choice-1" value="1" checked="checked" />
			         	<label for="radio-choice-1">男</label>
			
			         	<input type="radio" name="sex" id="radio-choice-2" value="2"  />
			         	<label for="radio-choice-2">女</label>
			         	
			        </fieldset>
			        <label for="nicky">手机号</label>
		            <input type="text" name='phone'  placeholder="请输入手机号" >
		            <label for="nicky">身份证号</label>
		            <input type="text" name='idcard'  placeholder="请输入身份证号" >
		            
		            <label for="nicky">所在职位</label>
		            <input type="text" name='position'  placeholder="请输入所在职位" >
		            
		            <fieldset data-role="fieldcontain">
				    		<label for="region_id">所在大区</label>
					    <select name="region_id" id="region_id">
					    		<option value="">请选择所在大区</option>
					    		<volist name="region_list" id="vo">
					      		<option value="{$vo.id}">{$vo.region_name}</option>
					        </volist>
					    </select>  
		            </fieldset>
		            <fieldset data-role="fieldcontain">
				    		<label for="store_id">经销店名</label>
					    <select name="store_id" id="store_id">
					    		<option value="">请选择经销店名</option>
					    </select>  
		            </fieldset>
		            <fieldset data-role="controlgroup" data-type="horizontal">
						<legend>住宿信息:</legend>
						<input type="radio" name="hotel_type" id="radio-choice-3"  value="0" checked="checked" />
			         	<label for="radio-choice-3">不住宿</label>
			         	
						<input type="radio" name="hotel_type" id="radio-choice-4"  value="1"  />
			         	<label for="radio-choice-4">合住</label>
			
			         	<input type="radio" name="hotel_type" id="radio-choice-5"  value="2"  />
			         	<label for="radio-choice-5">单住</label>
			        </fieldset>
			        <fieldset data-role="controlgroup" data-type="horizontal">
						<legend>选择房型:</legend>
						<input type="radio" name="house_type" id="radio-choice-6" value="0" checked="checked" />
			         	<label for="radio-choice-6" >无</label>
			         	
						<input type="radio" name="house_type" id="radio-choice-7"  value="1"  />
			         	<label for="radio-choice-7">双床</label>
			
			         	<input type="radio" name="house_type" id='radio-choice-8'  value="2"  />
			         	<label for="radio-choice-8">大床</label>
			        </fieldset>
		             <label for="date">入住时间:</label>  
             		<input type="date" name="checkin_date" id="checkin_date" />  
              		<label for="date">离店时间:</label>  
             		<input type="date" name="leave_date" id="leave_date" /> 
             		 
		            <label for="nicky">餐饮习惯</label>
		            <input type="text" name='food_req'  placeholder="请输入餐饮习惯（清真、素食等）" >
		            <div class="chose">
		            		<input type="hidden" name="Mid" value="{:I('Mid')}">
		                <a class="login" href="#" onclick="submit();" data-ajax="true" data-role="none" data-transition="slide">提交注册</a>
		            </div>
            	</if>
        </div>
    </div>
<script src="__JS__/jquery-1.8.3.min.js"></script>
<script src="__JS__/jquery.mobile-1.3.2.min.js"></script>
<script type="text/javascript">
	$(function(){
		$("#region_id").change(function(){
			var region_id=$("select[name='region_id']").val();
			if(region_id!=''){
				$.post("{:U('/Meetuser/Home/get_store_list')}",{'region_id':region_id},
						function(result){
							var s_html="<option value=\"\">请选择经销店名</option>";
							for(var i=0;i<result.data.length;i++){
								s_html+="<option value=\""+result.data[i].id+"\">"+result.data[i].store_name+"</option>";
							}
							$("select[name='store_id']").html(s_html);
		  		},'json');
			}
		});
	});
	function submit(){
		var realname=$("input[name='realname']").val().trim();
		if(realname==''){
			$("input[name='realname']").focus();
			return false;
		}
		
		var phone=$("input[name='phone']").val().trim();
		if(phone==''){
			$("input[name='phone']").focus();
			return false;
		}
		var idcard=$("input[name='idcard']").val().trim();
		if(idcard==''){
			$("input[name='idcard']").focus();
			return false;
		}
		var position=$("input[name='position']").val();
		if(position==''){
			$("input[name='position']").focus();
			return false;
		}
		var region_id=$("select[name='region_id']").val();
		if(region_id==''){
			alert("请选择所在大区");
			return false;
		}
		var store_id=$("select[name='store_id']").val();
		if(store_id==''){
			alert("请选择经销店名");
			return false;
		}
		var p_data={'Mid':$("input[name='Mid']").val(),
				'realname':realname,
				'sex':$("input[name='sex']:checked").val(),
				'phone':phone,
				'idcard':idcard,
				'position':position,
				'region_id':region_id,
				'store_id':store_id,
				'hotel_type':$("input[name='hotel_type']:checked").val(),
				'house_type':$("input[name='house_type']:checked").val(),
				'checkin_date':$("input[name='checkin_date']").val(),
				'leave_date':$("input[name='leave_date']").val(),
				'food_req':$("input[name='food_req']").val()
				};
		$.post("{:U('/MeetUser/Index/register')}",p_data,
				function(result){
					console.log(result);
					if(result.status){
						alert(result.msg);
						console.log(result.success_url);
						location.href=result.success_url;
					}else{
						alert(result.msg);
					}
  		},'json');
	}
</script>
</body>
</html>