<extend name="Public/base" />

<block name="body">
	<div class="main-title cf">
		<h2>{:isset($info['id'])?'编辑':'新增'}门店</h2>
	</div>
<form action="{:U()}" method="post" class="form-horizontal">
		<div class="form-item cf">
			<label class="item-label"><span style="color:red;">*</span> 绑定大区<span class="check-tips">（启用状态下的大区）</span></label>
			<div class="controls">
				<select name="region_id">
					<option value="0">请选择大区</option>
					<volist name=":get_region_list()" id="vo">
						<option value="{$vo.id}">{$vo.region_name}</option>
					</volist>
				</select>
			</div>
		</div>
        <div class="form-item">
            <label class="item-label"><span style="color:red;">*</span> 门店名称<span class="check-tips">（必填）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="store_name" value="{$info.store_name|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">状态<span class="check-tips"></span></label>
            <div class="controls">
                <label class="radio"><input type="radio" name="status" value="1">启用</label>
                <label class="radio"><input type="radio" name="status" value="0">禁用</label>
            </div>
        </div>
        <div class="form-item">
        		<input type="hidden" name="id" value="{$info.id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>
<block name="script">
<script type="text/javascript" charset="utf-8">
	Think.setValue("status", {$info.status|default = 0});
	Think.setValue('region_id',{$info.region_id|default=0});
	console.log({$info.region_id|default=0});
	
	//导航高亮
	highlight_subnav('{:U('index')}');
</script>
</block>

