<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>门店列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
		<if condition="session('user_auth.group_type') eq 1">
            <a class="btn" href="{:U('Store/add')}">新 增</a>
            <button class="btn ajax-post" url="{:U('Store/changeStatus',array('method'=>'resumeStore'))}" target-form="ids">启 用</button>
            <button class="btn ajax-post" url="{:U('Store/changeStatus',array('method'=>'forbidStore'))}" target-form="ids">禁 用</button>
            <button class="btn ajax-post confirm" url="{:U('Store/changeStatus',array('method'=>'deleteStore'))}" target-form="ids">删 除</button>
        </if>
        </div>

        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<select name="brand_id" id="brand_id" style="float:left;margin-right:10px;margin-top:2px;" class="search_field search-automation" >
					    		<option value="0">请选择品牌</option>
					    		<volist name=":get_brand_list()" id="vo">
								<option value="{$vo.id}">{$vo.brand_name}</option>
							</volist>
				</select>
				<select name="region_id" id="region_id" style="float:left;margin-right:10px;margin-top:2px;" class="search_field search-automation">
					  <option value="0">请选择大区</option>
					  <!-- 编辑时 选中当前大区 -->
					 <if condition="$region_id neq null">
						<volist name=":get_region_list($brand_id)" id="vo">
							<option value="{$vo.id}">{$vo.region_name}</option>
						</volist>
					</if>
				</select>
				<select name="city_id" id="city_id" style="float:left;margin-right:10px;margin-top:2px;" class="search_field search-automation">
					    		<option value="0">请选择城市</option>
					    		<!-- 编辑时 选中当前城市 -->
					 <if condition="$city_id neq null">
						<volist name=":get_city_list('region_id',$region_id)" id="vo">
							<option value="{$vo.id}">{$vo.city_name}</option>
						</volist>
					</if>
				</select>
				<input type="text" name="_key" class="search-input search_field" value="{:I('_key')}" placeholder="请输入门店/城市／大区／品牌名称">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			</div>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table">
	<table class="">
    <thead>
        <tr>
			<th class="row-selected"><input class="check-all" type="checkbox"/></th>
			<!--<th class="">ID</th>-->
			<th class="">所属品牌</th>
			<th class="">所属大区</th>
			<th class="">所属城市</th>
			<th class="">门店名称</th>
			<th class="">门店代码</th>
			<th class="">状态</th>
			<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<!--<td>{$vo.id}</td>-->
			<td>{$vo.brand_name}</td>
			<td>{$vo.region_name}</td>
			<td>{$vo.city_name}</td>
			<td>{$vo.store_name}</td>
			<td>{$vo.store_code}</td>
			<td>{$vo.status_text}</td>
			<td>
				<if condition="session('user_auth.group_type') eq 1">
				<a href="{:U('store/edit?id='.$vo['id'])}">编辑</a>
				<if condition="$vo.status eq 1">
				<a href="{:U('Store/changeStatus?method=forbidStore&id='.$vo['id'])}" class="ajax-get">禁用</a>
				<else/>
				<a href="{:U('Store/changeStatus?method=resumeStore&id='.$vo['id'])}" class="ajax-get">启用</a>
				</if>
				<a href="{:U('Store/changeStatus?method=deleteStore&id='.$vo['id'])}" class="confirm ajax-get">删除</a>
                </if>
                </td>
		</tr>
		</volist>
		<else/>
		<td colspan="7" class="text-center"> Oh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//选择品牌
	$("select[name='brand_id']").change(function(){
		var brand_id=$("select[name='brand_id']").val();
		if(brand_id!=''){
			$.post("{:U('/Admin/Common/get_brand_json')}",{'brand_id':brand_id},
					function(result){
						//大区
						var region_data=result.data.region_data;
						var r_html="<option value=\"0\">请选择大区</option>";
						if(region_data!=null){
							 for(var i=0;i<region_data.length;i++){
								 r_html+="<option value=\""+region_data[i].id+"\">"+region_data[i].region_name+"</option>";
							} 
						}else{
							$("select[name='region_id']").val("");
						}
						$("select[name='region_id']").html(r_html);
	  		},'json');
		}
	});
	//选择大区
	$("select[name='region_id']").change(function(){
		var region_id=$("select[name='region_id']").val();
		if(region_id!=''){
			$.post("{:U('/Admin/Common/get_region_json')}",{'region_id':region_id},
					function(result){
						//城市
						var city_data=result.data.city_data;
						var c_html="<option value=\"0\">请选择城市</option>";
						if(city_data!=null){
							 for(var i=0;i<city_data.length;i++){
								 c_html+="<option value=\""+city_data[i].id+"\">"+city_data[i].city_name+"</option>";
							} 
						}else{
							$("select[name='city_id']").val("");
						}
						$("select[name='city_id']").html(c_html);
	  		},'json');
		}
	});
	
	
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
		var query  = $('.search-form').find('.search_field').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
	Think.setValue('brand_id',{$brand_id|default=0});
	Think.setValue('region_id',{$region_id|default=0});
	Think.setValue('city_id',{$city_id|default=0});
    //导航高亮
    highlight_subnav('{:U('Store/index')}');
	</script>
</block>
