<extend name="Public/base" />
<block name="style">
<style type="text/css">

.data-table thead th, .data-table tbody td{
	padding:8px;
}
</style>
</block>
<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>会议人员签到列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
        </div>

        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<select name="_meet_id" style="float:left;margin-right:10px;" class="search_field search-automation"  >
					<option value="0">请选择会议名称</option>
					<volist name=":get_meet_list()" id="vo">
						<option value="{$vo.id}" >{$vo.meet_name}</option>
					</volist>
				</select>
				<select name="classes_id" style="float:left;margin-right:10px;" class="search_field search-automation">
					<option value="0">请选择所属班级</option>
					<!-- 编辑时 选中当前班级 -->
					<if condition="$_meet_id neq 0">
						<volist name=":get_classes_list('meet_id',$_meet_id)" id="vo">
							<option value="{$vo.id}">{$vo.classes_name}</option>
						</volist>
					</if>
				</select>
				<input type="text" name="_key" class="search-input search_field" value="{:I('_key')}" placeholder="人员名称／手机号/参会编号">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			</div>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table">
	<table class="" >
    <thead>
        <tr>
			<!--<th class="row-selected"><input class="check-all" type="checkbox"/></th>
			 <th class="">ID</th> -->
			<th class="" style="width:40px">大区</th>
			<th class="" style="width:40px">城市</th>
			<th class="" style="width:150px">门店</th>
			<th class="" style="width:40px">门店代码</th>
			<th class="" style="width:150px">会议名称</th>
			<th class="" style="width:40px">班级</th>
			<th class="" style="width:40px">参会编号</th>
			<th class="" style="width:40px">职务</th>
			<th class="" style="width:50px">姓名</th>
			<th class="" style="width:50px">手机号</th>
			<th class="" style="width:100px">签到时间</th>
			<th class="" style="width:50px">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td>{$vo.region_name}</td>
			<td>{$vo.city_name}</td>
			<td>{$vo.store_name}</td>
			<td>{$vo.store_code}</td>
			<td>{$vo.meet_name}</td>
			<td>{$vo.classes_name}</td>
			<td>{$vo.user_no}</td>
			<td>{$vo.position}</td>
			<td>{$vo.realname}</td>
			<td>{$vo.phone}</td>
			<td>{$vo.create_time}</td>
			<td>
				<if condition="session('user_auth.group_type') eq 1">
				<a href="{:U('MeetMemberSign/changeStatus?method=deleteMeetMemberSign&id='.$vo['id'])}" class="confirm ajax-get">删除</a>
            		</if>
            </td>
		</tr>
		</volist>
		<else/>
		<td colspan="21" class="text-center"> Oh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script type="text/javascript">
	$(function(){
		
		//选择会议
		$("select[name='_meet_id']").change(function(){
			var meet_id=$("select[name='_meet_id']").val();
			if(meet_id!=''){
				$.post("{:U('/Admin/Common/get_meet_json')}",{'meet_id':meet_id},
						function(result){
							//班级
							var classes_data=result.data.classes_data;
							var c_html="<option value=\"0\">请选择班级</option>";
							if(classes_data!=null){
								 for(var i=0;i<classes_data.length;i++){
									 c_html+="<option value=\""+classes_data[i].id+"\">"+classes_data[i].classes_name+"</option>";
								} 
							}
							$("select[name='classes_id']").html(c_html);
							
							
		  		},'json');
			}
		});
	});
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('.search_field').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
	Think.setValue('_meet_id',{$_meet_id|default=0});
	Think.setValue('classes_id',{$classes_id|default=0});
    //导航高亮
    highlight_subnav('{:U('MeetMemberSign/index')}');
	</script>
</block>
